body {
    background-color: #121212;
    color: white;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
}
#poster {
    margin: 0 auto;
}
#title {
    color: gold;
}
#tagline {
    margin-bottom: none !important;
    color: deepskyblue;
}
video {
    margin-top: 10px;
    height: 100px;
}