<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMBD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <form id="logForm" action="/logout" method="POST">
        <button id="logoutButton" type="submit">Log Out</button>
    </form>
    {% if data %}
    <h1 id="title"> {{ data["title"] }} </h1>
    <img src={{data["img_url"]}} alt="">

    <h3> <em> "{{data["tagline"]}}" </em> </h3>
    <p id="tagline">
        {% for genre in data["genres"] %}
        <strong> {{genre}} </strong>
        {% endfor %}
    </p>
    <p><a id="wiki" href="https://en.wikipedia.org/?curid={{wiki_id}}">Wiki Page</a></p>

    <div id="commentContainer">
        <h2>Comments</h2>
        <p>Enter a comment and choose a rating for the movie (1-10)</p>

        <form action="/comment/{{data["movie_id"]}}" method="post">
            <input minlength="3" maxlength="100" placeholder="Add a comment" id="commentBox" type="text" name="text">
            <select name="rating" id="rating">
                {% for i in range(10) %}
                <option value={{i+1}}>{{i+1}}</option>
                {% endfor %}
            </select>
            <button id="postComment" type="submit">Post</button>
        </form>
        <div class="cols">
            <h3>Username</h3>
            <h3>Comment</h3>
            <h3>Rating</h3>
        </div>
        {% for comment in comments %}
        <div class="comment">
            <div class="username">
                <h4>{{comment.username}}</h4>
            </div>
            <p class="commentText">{{comment.text}}</p>

            <p>{{comment.rating}}</p>


        </div>
        {% endfor %}
        {% else %}
        <h1>Failed to load data.</h1>
        <img src="../static/cat.gif" alt="">
        <h2>Here is a dancing cat instead. </h2>
        {% endif %}



</body>

</html>