<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMBD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1> {{ data["title"] }} </h1>
    <img src={{data["imgURL"]}} alt="">
    <h3>{{data["tagline"]}}</h3>
    <p id="tagline">
        {% for genre in data["genres"] %}
        {{genre}}
        {% endfor %}
    </p>

    
</body>
</html>